<!-- your html code here -->
 <div class="container">
    <div class="row border-top border-primary">
        <div class="col-8 mt-5">
            <h2 class="bg-transparent"><span class="me-2">The First Heading</span><span class="text-secondary">Will Catch Your Eye</span></h2>
            <p class="ms-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor felis non nibh lobortis mollis. Pellentesque suscipit quis sem quis venenatis. In euismod dolor sed sem porta ornare eget in enim. Mauris eleifend eros non felis bibendum bibendum. Sed pellentesque quis odio non aliquet.</p>
        </div>
        <div class="col-4 mt-3 d-flex justify-content-end">
            <img src="./assets/img/1.jpg" class="img-fluid rounded-circle">
        </div>
    </div>
 </div>